# Buat Nama Kelompok DKK

## Import

In [2]:
#Ini gw copas dari tucil dulu ya sementara, nanti yang ga butuh apus ae

import numpy as np 
import random
import pandas as pd 
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import graphviz
import itertools

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import tree
from sklearn.impute import SimpleImputer

from sklearn import svm, datasets
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, classification_report, accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, KFold

from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

#Coba pake imputer


%matplotlib inline

## Read data

In [10]:
heartTrain = pd.read_csv('tubes2_HeartDisease_train.csv')
heartTest = pd.read_csv('tubes2_HeartDisease_test.csv')

## Analisis kondisi data

In [15]:
print('Tipe data pada kolom\n')
print(heartTrain.dtypes)
print()

print('Menampilkan sebagian data\n')
print(heartTrain.head())
print()

print('Mencari jumlah nilai yang tidak terdefinisi pada tiap kolom-nya')
heartTrain.isna().sum()

Tipe data pada kolom

Column1      int64
Column2      int64
Column3      int64
Column4     object
Column5     object
Column6     object
Column7     object
Column8     object
Column9     object
Column10    object
Column11    object
Column12    object
Column13    object
Column14     int64
dtype: object

Menampilkan sebagian data

   Column1  Column2  Column3 Column4 Column5 Column6 Column7 Column8 Column9  \
0       54        1        4     125     216       0       0     140       0
1       55        1        4     158     217       0       0     110       1
2       54        0        3     135     304       1       0     170       0
3       48        0        3     120     195       0       0     125       0
4       50        1        4     120       0       0       1     156       1

  Column10 Column11 Column12 Column13  Column14
0        0        ?        ?        ?         1
1      2.5        2        ?        ?         1
2        0        1        0        3         0
3        0        ?        ?        ?         0
4        0        1        ?        6         3
Mencari jumlah nilai yang tidak terdefinisi pada tiap kolom-nya

Column1     0
Column2     0
Column3     0
Column4     0
Column5     0
Column6     0
Column7     1
Column8     0
Column9     0
Column10    0
Column11    0
Column12    0
Column13    0
Column14    0
dtype: int64

In [4]:
# Convert string to numeric, convert ? to NAN
heartTrain = heartTrain.apply(pd.to_numeric,errors = 'coerce')

# NaN count
heartTrain.isna().sum()

Column1       0
Column2       0
Column3       0
Column4      47
Column5      24
Column6      78
Column7       2
Column8      44
Column9      44
Column10     49
Column11    262
Column12    514
Column13    408
Column14      0
dtype: int64

In [5]:
#Fill missing value with median (masih bisa diubah)
imp = SimpleImputer(missing_values=np.nan, strategy='median')
heartTrain = pd.DataFrame(imp.fit_transform(heartTrain))
# imputed_DF.columns = DF.columns
# imputed_DF.index = DF.index

#NaN count
heartTrain.isna().sum()

heartTrain.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12   13
0  54.0  1.0  4.0  125.0  216.0  0.0  0.0  140.0  0.0  0.0  2.0  0.0  6.0  1.0
1  55.0  1.0  4.0  158.0  217.0  0.0  0.0  110.0  1.0  2.5  2.0  0.0  6.0  1.0
2  54.0  0.0  3.0  135.0  304.0  1.0  0.0  170.0  0.0  0.0  1.0  0.0  3.0  0.0
3  48.0  0.0  3.0  120.0  195.0  0.0  0.0  125.0  0.0  0.0  2.0  0.0  6.0  0.0
4  50.0  1.0  4.0  120.0    0.0  0.0  1.0  156.0  1.0  0.0  1.0  0.0  6.0  3.0

In [6]:
#Analisis buat milih algoritma(?)

In [7]:
#Split data train

In [ ]:
# Coba coba algoritma

In [ ]:
#Simpan model